<h1>Faceboock!</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if current_user %>
  <p> Logged in as <%= current_user.email %></p>
  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
