<div class="trix-content">
  <h1>Timeline</h1>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= @post.content %></p>
        <p>Posted by: <%= post.user.name %></p>
      </div>
    <% end %>
  <% else %>
    <p>No posts to display.</p>
  <% end %>
  <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
</div>
